/*****----- Configuration -----*****/
configuration {
	modi:                       "drun,filebrowser";
  show-icons:                 true;
  display-drun:               " ";
  display-filebrowser:        " ";
	drun-display-format:        "{name}";
}

@theme "theme/theme.rasi"
