@import "./colors/rose-pine.css";

* {
  min-height: 0;
  min-width: 0;
  font-family: "IosevkaTermSlab Nerd Font Propo";
  font-size: 16px;
  font-weight: 900;
}

#waybar {
  background-color: rgba(25, 23, 36, 0.6);
  color: @text;
}

tooltip {
  background-color: @overlay;
  border: 2px solid @rose;
}

#custom-logo {
  margin: 0.5rem 0.6rem 0.5rem 0.6rem;
  color: @rose;
}

#workspaces {
  margin: 0.4rem 0.2rem 0.4rem 0.2rem;
  background-color: @overlay;
  border-radius: 4px;
}

#workspaces button {
  padding: 0.2rem 0.6rem;
  border-bottom: 2px solid @subtle;
  border-radius: 0px;
  color: @subtle;
}

#workspaces button.active {
  color: @rose;
  border-bottom: 2px solid @rose;
  padding-right: 1.3rem;
  padding-left: 1.3rem;
}

#workspaces button:hover {
  color: @iris;
}

#mpris,
#tray,
#cpu,
#custom-gpu,
#custom-gpu-temp,
#memory,
#pulseaudio,
#custom-notification,
#clock,
#mpris,
#tray {
  padding: 0.2rem 0.6rem;
  margin: 0.4rem 0.2rem 0.4rem 0.2rem;
  border-radius: 4px 4px 0px 0px;
  background-color: @overlay;
}

#clock {
  color: @rose;
  border-bottom: 2px solid @rose;
}

#clock.simpleclock {
  margin-right: 0.5rem;
}

#pulseaudio {
  color: @iris;
  border-bottom: 2px solid @iris;
}

#memory {
  color: @love;
  border-bottom: 2px solid @love;
}

#custom-gpu,
#custom-gpu-temp {
  color: @foam;
  border-bottom: 2px solid @foam;
}

#cpu {
  color: @gold;
  border-bottom: 2px solid @gold;
}

#custom-notification {
  color: @rose;
  border-bottom: 2px solid @rose;
}

#mpris {
  color: @rose;
  border-bottom: 2px solid @rose;
}
