@import "mocha.css";

* {
  min-height: 0;
  min-width: 0;
  font-family: "FantasqueSansM Nerd Font Propo";
  font-size: 16px;
  font-weight: 600;
}

#waybar {
  background-color: @crust;
  color: @text;
}

tooltip {
  background-color: @surface0;
  border: 2px solid @mauve;
}

#custom-logo {
  margin: 0.5rem 0.6rem 0.5rem 0.6rem;
  color: @sapphire;
}

#workspaces {
  margin: 0.4rem 0.2rem 0.4rem 0.2rem;
  background-color: @surface0;
  border-radius: 4px;
}

#workspaces button {
  padding: 0.2rem 0.6rem;
  border-radius: 0px;
  color: @lavender;
}

#workspaces button.active {
  color: @sky;
  padding-right: 1.3rem;
  padding-left: 1.3rem;
}

#workspaces button:hover {
  color: @sapphire;
}

#mpris,
#tray,
#cpu,
#custom-gpu,
#custom-gpu-temp,
#memory,
#pulseaudio,
#custom-notification,
#clock,
#mpris,
#tray {
  padding: 0.2rem 0.6rem;
  margin: 0.4rem 0.2rem 0.4rem 0.2rem;
  border-radius: 4px;
  background-color: @surface0;
}

#clock {
  color: @rosewater;
}

#clock.simpleclock {
  margin-right: 0.5rem;
}

#pulseaudio {
  color: @teal;
}

#memory {
  color: @yellow;
}

#custom-gpu,
#custom-gpu-temp {
  color: @green;
}

#cpu {
  color: @blue;
}

#custom-notification {
  color: @flamingo;
}

#mpris {
  color: @mauve;
}
